/*
This stylesheet is loaded in the WordPress dashboard only.
It is required for adding icons to your admin settings.
*/

/* Integration Tab Icon */
.bp-admin-card.section-BPGCI_settings_section h2:before {
	background-image: url('../images/check-double.svg');
	background-size: 18px 18px;
}

/* Component Settings Icon */
.bp-admin-card.section-bb_group_check-in h2:before {
	background-image: url('../images/check-double.svg');
	background-size: 18px 18px;
}

/* Group admin page */
#check-in-permalink-box,
#group-type-permalink-box {
	line-height: 25px;
  margin-top: 15px;
}
#check-in-permalink,
#group-permalink {
	margin-right: 20px;
}

/* Report page styles */
.bpgci_report_wrapper {
	width: 800px;
	max-width: 100%;
	margin: auto;
}
.bpgci_report_wrapper h1 {
	text-align: center;
	font-size: 2rem;
	margin-top: 25px;
}
.bpgci_tiles {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: 50px;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	flex-wrap: wrap;
}
.bpgci_each_tile {
	background-color: #fefefe;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	text-decoration: none;
	transition: 0.3s linear;
	margin: 10px;
	width: 206px;
}
.bpgci_each_tile:hover {
	background-color: #fff;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.bpgci_each_tile:focus {
	outline: none;
	box-shadow: none;
}
.bpgci_each_tile h2 {
	margin-top: 0;
}
.bpgci_each_tile ul {
	margin-bottom: 0;
}
.bpgci_each_tile ul li:last-child {
	margin-bottom: 0;
}

.bpgci_each_tile .total_complete {
  color: #096e00;
}
.bpgci_each_tile .total_pending {
  color: #00534d;
}
.bpgci_each_tile .total_partially_completed {
  color: #c37031;
}
.bpgci_each_tile .total_incomplete {
  color: #840007;
}
.bpgci_data_table thead tr th,
.bpgci_data_table tfoot tr th {
	font-weight: 500;
}
.bpgci_single_group_report {
	padding-right: 20px;
}
.bpgci_single_group_report h2 {
	margin-top: 25px;
	margin-bottom: 10px;
	text-align: center;
}
.bpgci_single_group_report h2 span {
	font-weight: 300;
}
.bpgci_single_group_report .query_forms {
	text-align: center;
}
.bpgci_single_group_report .query_forms .query_form_separator {
  margin-left: 15px;
	margin-right: 15px;
	font-weight: 500;
}
.bpgci_single_group_report .single_date_form,
.bpgci_single_group_report .multiple_dates_form {
  display: inline-block;
}
.bpgci_single_group_report .single_date_form [type=submit],
.bpgci_single_group_report .multiple_dates_form [type=submit] {
	margin-top: 2px;
}
.bpgci_single_group_report .single_date_form {
	margin-top: 35px;
}
.bpgci_single_group_report .multiple_dates_form {
	margin-top: 15px;
}

/* Responsive */
@media (max-width: 800px) {
	.bpgci_each_tile {
		width: 100%;
	}
}
