h2, p {
  color: #333;
}

.bpcgi_divider {
  width: 70%;
  margin: 10px 0;
  height: 1px;
  background-color: #ddd;
  border-radius: 2px;
}



.bpgci_group_check_in_status_wrapper {
  width: 100%;
  max-width: 800px;
  margin-top: 15px;
}
.bpgci_group_check_in_status_wrapper:first-child {
  margin-top: 0;
}

.bpgci_group_info h2 {
  margin-top: 0;
  font-size: 2rem;
  line-height: 1;
  margin-bottom: 0;
}

.bpgci_today p {
  line-height: 1;
  font-size: 1.5rem;
  margin-bottom: 7px;
}

.result_complete,
.bpgci_success_notice p,
.bpgci_submit_status p {
  color: #096e00;
}
.result_pending {
  color: #00534d;
}
.result_partially_completed {
  color: #c37031;
}
.result_incomplete,
.bpgci_error_notice p {
  color: #840007;
}

.bpgci_success_notice,
.bpgci_error_notice,
.bpgci_submit_status {
  padding: 17px;
  margin-top: 33px;
  background: #eee;
  text-align: center;
}
.bpgci_success_notice p,
.bpgci_error_notice p,
.bpgci_submit_status p {
  margin-bottom: 0;
}
